.App {
    text-align: center;
    font-size: larger;
    background-color: rgb(222, 176, 211);
    width: 30%;
    margin: auto;
    border-radius: 10px;
  }

  .green{
    color: rgb(13, 142, 13);
  }
  .red{
    color: red;
  }

button{
    background-color: rgb(178, 227, 227);
    border: none;
    font-weight: 700;
    border-radius: 8px;
  }