.addstudent{
    margin: auto;
    font-weight: 700;  
}
form{
    background-color:rgba(23, 140, 146, 0.73);
    width: 40%;
    border-radius: 200px;
    padding: 20px;
}
input{
    margin-bottom: 10px;
    border-radius: 8px;
}
.submit{
    margin-top: 10px;
    color: white;
    background-color: rgb(188, 86, 125);
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-weight: 700;
}

select{
    border-radius: 8px;
    font-weight: 700; 
}

option{
    background-color: rgb(255, 255, 136);
    font-weight: 700; 
}