.inputclass{
    width: 30%;
    height: 50px;
    margin: auto;
    padding: 10px;
   
}
.todoinput{
    width: 70%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
.todobtn{
    width: 20%;
    height: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none
}